*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}
input::-moz-placeholder {
  color: inherit;
}
input::placeholder {
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
:root {
  --primary-font: "Montserrat";
  --primary-text-color: #FFFFFF;
  --black-text-color: #000000;
  --gray-text-color: #21243D;
  --light-text-color: #C5CBD6;
  --accent-text-color: #bd0000;
  --red-back-color: #bd0000;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: #000000;
}
body.is-menu-open {
  overflow: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 69rem;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 37rem;
    padding: 0;
  }
}
@media screen and (max-width: 390px) {
  .container {
    max-width: 32rem;
  }
}

.header {
  position: absolute;
  width: 100%;
  padding: 4rem 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header__list {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .header__list {
    display: none;
  }
}

.header__link {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 300ms;
}
.header__link:hover {
  color: var(--accent-text-color);
}

.header__lang {
  position: relative;
  margin-left: 5rem;
  width: 7rem;
  height: 4rem;
  background-color: rgba(108, 108, 108, 0.351);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 300ms;
}
@media screen and (max-width: 1200px) {
  .header__lang {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header__lang {
    display: flex;
  }
}

.header__lang.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header__lang.active .another__lang {
  opacity: 1;
  visibility: visible;
}
.header__lang.active .current__lang img {
  transform: rotate(-180deg);
}

.current__lang {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition-duration: 300ms;
}
.current__lang img {
  transition-duration: 300ms;
}

.another__lang {
  position: absolute;
  bottom: -4rem;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(108, 108, 108, 0.351);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 0.1rem solid #7a7a7a;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;
}
.another__lang:hover {
  color: var(--accent-text-color);
}

.header__menu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.hero {
  padding-top: 22.5rem;
  padding-bottom: 12.5rem;
  background-image: url(../img/hero/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 18rem;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../img/hero/bg-s.png);
    background-position: top left;
  }
}

.hero__title {
  max-width: 96rem;
  font-size: 8rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 6.4rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 4.6rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
}

.hero__desc {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .hero__desc {
    font-size: 1.4rem;
    max-width: 50rem;
    line-height: 1.5;
  }
}

.hero__subtitle {
  font-size: 7rem;
  margin-bottom: 2rem;
}
.hero__subtitle span {
  color: var(--accent-text-color);
}
@media screen and (max-width: 1200px) {
  .hero__subtitle {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__subtitle {
    font-size: 3.2rem;
  }
}

.hero__text {
  font-size: 1.6rem;
  max-width: 30rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1200px) {
  .hero__text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__text {
    margin-bottom: 2rem;
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 18rem;
}
@media screen and (max-width: 1200px) {
  .hero__buttons {
    gap: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .hero__buttons {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

.hero__order {
  width: 20rem;
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--red-back-color);
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 300ms;
}
.hero__order:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.hero__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hero__link {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--red-back-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
}
.hero__link:hover {
  background-color: #890707;
}

.menu {
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;
}
.menu.is-open {
  opacity: 1;
  visibility: visible;
}

.menu .container {
  position: relative;
  width: 69rem;
}

.menu__close {
  position: absolute;
  top: -6rem;
  right: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

.menu__link {
  font-size: 2.4rem;
  text-decoration: none;
}

.navigation {
  display: none;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: block;
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--red-back-color);
    padding: 1.5rem 0;
  }
}

.navigation__list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 32rem;
  margin: 0 auto;
}

.navigation__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.navigation__link span {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.feature {
  padding: 7.5rem 0;
  background-color: #000000;
}
@media screen and (max-width: 767px) {
  .feature {
    padding-top: 0;
    padding-bottom: 7rem;
  }
}

.feature__title {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1200px) {
  .feature__title {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 767px) {
  .feature__title {
    font-size: 3.8rem;
    margin-bottom: 5rem;
  }
}

.feature__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}
@media screen and (max-width: 767px) {
  .feature__list {
    gap: 5rem;
  }
}

.feature__item {
  width: calc((100% - 9rem) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 1200px) {
  .feature__item {
    width: calc((100% - 3rem) / 2);
  }
}
@media screen and (max-width: 767px) {
  .feature__item {
    width: 100%;
  }
}

.feature__icon {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-back-color);
}
@media screen and (max-width: 767px) {
  .feature__icon {
    width: 7rem;
    height: 7rem;
  }
  .feature__icon img {
    width: 4rem;
    height: 4rem;
  }
}

.feature__subtitle {
  font-size: 2.4rem;
  line-height: 1.3;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .feature__subtitle {
    font-size: 2.2rem;
  }
}

.feature__desc {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.6;
}

.catalog {
  padding: 7.5rem 0;
  background-color: #000000;
}
@media screen and (max-width: 767px) {
  .catalog {
    padding-top: 0;
    padding-bottom: 7rem;
  }
}

.catalog__title {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1200px) {
  .catalog__title {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 767px) {
  .catalog__title {
    font-size: 3.8rem;
    margin-bottom: 5rem;
  }
}

.catalog__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}

.catalog__item {
  width: calc((100% - 9rem) / 4);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .catalog__item {
    width: calc((100% - 3rem) / 2);
  }
}
@media screen and (max-width: 767px) {
  .catalog__item {
    width: 100%;
  }
}

.catalog__image {
  height: 27rem;
  width: 19rem;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 1200px) {
  .catalog__image {
    margin: 0 auto 2.4rem auto;
  }
}

.catalog__subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.catalog__price {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.catalog__price_old {
  color: var(--light-text-color);
  text-decoration: line-through;
  font-size: 1.6rem;
}

.catalog__price_new {
  font-size: 2rem;
  font-weight: 700;
}

.catalog__order {
  width: 17.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--red-back-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 300ms;
}
.catalog__order:hover {
  background-color: #FFFFFF;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .catalog__order {
    width: 100%;
  }
}

.work {
  padding: 7.5rem 0;
  background-color: #000000;
}
@media screen and (max-width: 767px) {
  .work {
    padding-top: 0;
    padding-bottom: 7rem;
  }
}

.work .container {
  position: relative;
}

.work__title {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .work__title {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 767px) {
  .work__title {
    font-size: 3.8rem;
  }
}

.work__list {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 16rem;
       column-gap: 16rem;
  row-gap: 6rem;
}
@media screen and (max-width: 1200px) {
  .work__list {
    padding-left: 15rem;
  }
}
@media screen and (max-width: 767px) {
  .work__list {
    padding-left: 10rem;
    row-gap: 4rem;
  }
}

.work__item {
  width: calc((100% - 16rem) / 2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.work__item:nth-child(1) {
  margin-left: auto;
}
@media screen and (max-width: 1200px) {
  .work__item:nth-child(1) {
    margin-left: 0;
  }
}
.work__item:nth-child(3n) {
  margin-left: auto;
}
@media screen and (max-width: 1200px) {
  .work__item:nth-child(3n) {
    margin-left: 0;
  }
}
.work__item:nth-child(2n) {
  text-align: right;
}
@media screen and (max-width: 1200px) {
  .work__item:nth-child(2n) {
    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  .work__item {
    width: 100%;
  }
}

.work__subtitle {
  font-size: 2.4rem;
}
@media screen and (max-width: 1200px) {
  .work__subtitle {
    line-height: 1.2;
  }
}
@media screen and (max-width: 767px) {
  .work__subtitle {
    font-size: 2rem;
  }
}

.work__desc {
  font-size: 1.6rem;
  line-height: 1.5;
}

.number__list {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.number__list::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.3rem;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .number__list {
    left: 0;
    transform: translate(0);
  }
}
@media screen and (max-width: 767px) {
  .number__list {
    top: 8rem;
    gap: 13rem;
  }
}
@media screen and (max-width: 390px) {
  .number__list {
    top: 8rem;
    gap: 16rem;
  }
}

.number__item {
  z-index: 2;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--red-back-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.number__item span {
  font-size: 3.6rem;
}
@media screen and (max-width: 767px) {
  .number__item {
    width: 7rem;
    height: 7rem;
  }
  .number__item span {
    font-weight: 700;
    font-size: 2.2rem;
  }
}

.order {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background-image: url(../img/order/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.order .container {
  display: flex;
  align-items: center;
  gap: 10rem;
}
@media screen and (max-width: 1200px) {
  .order .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }
}

.order__title {
  font-size: 5.6rem;
  color: var(--black-text-color);
  line-height: 1.2;
  max-width: 50.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1200px) {
  .order__title {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 767px) {
  .order__title {
    font-size: 3.8rem;
  }
}

.order__desc {
  font-size: 3.3rem;
  color: var(--black-text-color);
  line-height: 1.5;
  max-width: 69rem;
}
@media screen and (max-width: 1200px) {
  .order__desc {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .order__desc {
    font-size: 3.3rem;
  }
}

.order__form {
  min-width: 37rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (max-width: 1200px) {
  .order__form {
    min-width: 100%;
  }
}

.order__input {
  width: 100%;
  height: 5rem;
  padding: 0 2.4rem;
  background-color: rgba(33, 36, 61, 0.1215686275);
  border-bottom: 0.2rem solid var(--red-back-color);
  font-size: 1.4rem;
  color: var(--black-text-color);
}
.order__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6823529412);
}
.order__input::placeholder {
  color: rgba(0, 0, 0, 0.6823529412);
}

.order__button {
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-back-color);
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--primary-text-color);
  transition-duration: 300ms;
}
.order__button:hover {
  color: var(--black-text-color);
  background-color: #FFFFFF;
}

.before {
  padding: 7.5rem 0;
  background-color: #000000;
}
@media screen and (max-width: 767px) {
  .before {
    padding: 5rem 0;
  }
}
.before .container {
  max-width: 60rem;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .before .container {
    max-width: 37rem;
  }
}
@media screen and (max-width: 390px) {
  .before .container {
    max-width: 32rem;
  }
}

.before__title {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1200px) {
  .before__title {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 767px) {
  .before__title {
    font-size: 3.8rem;
  }
}

.example {
  padding: 7.5rem 0;
}
@media screen and (max-width: 767px) {
  .example {
    padding-top: 0;
    padding-bottom: 7rem;
  }
}
.example .swiper-button-next,
.example .swiper-button-prev {
  display: none;
}
@media screen and (max-width: 767px) {
  .example .swiper-button-next,
  .example .swiper-button-prev {
    display: block;
  }
  .example .swiper-button-next::after,
  .example .swiper-button-prev::after {
    color: var(--red-back-color);
  }
}

.example__title {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 10rem;
}
@media screen and (max-width: 1200px) {
  .example__title {
    font-size: 4.7rem;
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 767px) {
  .example__title {
    font-size: 3.8rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 390px) {
  .example__title {
    font-size: 3.5rem;
  }
}

.swiper-slide {
  width: 39rem;
  height: 47rem;
}
@media screen and (max-width: 1200px) {
  .swiper-slide {
    height: 30rem;
  }
}
@media screen and (max-width: 767px) {
  .swiper-slide {
    height: 35rem;
  }
}

.example__image_item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sl-wrapper {
  background-color: rgba(0, 0, 0, 0.8078431373);
}

.sl-wrapper .sl-close {
  color: #FFFFFF;
}

.sl-wrapper .sl-navigation button {
  color: #FFFFFF;
}

.sl-wrapper .sl-counter {
  color: #FFFFFF;
}

.faq {
  padding-bottom: 7rem;
}

.faq__title {
  font-size: 5.6rem;
  text-align: center;
  margin-bottom: 5rem;
  line-height: 1.3;
}
@media screen and (max-width: 1200px) {
  .faq__title {
    font-size: 4.7rem;
  }
}
@media screen and (max-width: 767px) {
  .faq__title {
    font-size: 3.8rem;
  }
}
@media screen and (max-width: 390px) {
  .faq__title {
    font-size: 3.5rem;
  }
}

.faq__content {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .faq__content {
    gap: 0;
  }
}

.faq__list {
  width: calc((100% - 3rem) / 2);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .faq__list {
    width: 100%;
  }
}

.faq__item {
  position: relative;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #5d5d5d;
  cursor: pointer;
}
.faq__item.active .faq__subtitle {
  padding-bottom: 2rem;
}
.faq__item.active .faq__desc {
  position: relative;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.faq__item.active .faq__icon {
  transform: rotate(-180deg);
}

.faq__subtitle {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.3;
  transition-duration: 300ms;
}
@media screen and (max-width: 1200px) {
  .faq__subtitle {
    max-width: 50rem;
  }
}
@media screen and (max-width: 767px) {
  .faq__subtitle {
    max-width: 33rem;
  }
}
@media screen and (max-width: 390px) {
  .faq__subtitle {
    max-width: 29rem;
  }
}

.faq__desc {
  font-size: 1.5rem;
  line-height: 1.6;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
  position: absolute;
  transition-duration: 300ms;
}

.faq__icon {
  position: absolute;
  right: 0;
  top: 2.5rem;
  transition-duration: 300ms;
}

.footer {
  background-color: #FFFFFF;
  padding: 5rem 0;
  color: var(--gray-text-color);
}
@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 10rem;
  }
}

.footer .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
}
@media screen and (max-width: 1200px) {
  .footer .container {
    gap: 4rem;
  }
}

.footer__block {
  width: calc((100% - 15rem) / 4);
}
.footer__block:nth-child(2) {
  padding-left: 7rem;
}
@media screen and (max-width: 1200px) {
  .footer__block {
    width: 100%;
  }
  .footer__block:nth-child(2) {
    padding-left: 0;
  }
}

.footer__logo {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    text-align: center;
    display: block;
    margin-bottom: 1.5rem;
  }
}

.footer__contact_link {
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 2;
  transition-duration: 300ms;
}
.footer__contact_link:hover {
  color: var(--accent-text-color);
}
@media screen and (max-width: 1200px) {
  .footer__contact_link {
    display: block;
    text-align: center;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__page_link {
  font-size: 1.6rem;
  text-decoration: none;
  transition-duration: 300ms;
}
.footer__page_link:hover {
  color: var(--accent-text-color);
}
@media screen and (max-width: 1200px) {
  .footer__page_link {
    display: block;
    text-align: center;
  }
}

.footer__sign {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .footer__sign {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .footer__list {
    justify-content: center;
  }
}

.footer__social_link {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-back-color);
  transition-duration: 300ms;
}
.footer__social_link:hover {
  background-color: #890707;
}

.order__page {
  background-color: #FFFFFF;
}
.order__page .header {
  position: relative;
  background-color: #000000;
  padding: 2.5rem 0;
}
.order__page .product {
  padding-top: 10rem;
  padding-bottom: 20rem;
  color: var(--gray-text-color);
}
@media screen and (max-width: 1200px) {
  .order__page .product {
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .order__page .product {
    padding: 7rem 0;
  }
}
.order__page .product .container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .order__page .product .container {
    flex-direction: column;
  }
}
.order__page .product__slider {
  width: 57rem;
}
@media screen and (max-width: 1200px) {
  .order__page .product__slider {
    width: 100%;
  }
}
.order__page .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .order__page .swiper-slide {
    height: 25rem;
  }
}
.order__page .swiper-thumb {
  margin-top: 3rem;
}
.order__page .swiper-thumb .swiper-wrapper {
  justify-content: space-between;
}
.order__page .swiper-thumb .swiper-slide {
  width: 10rem !important;
  height: 10rem !important;
  cursor: pointer;
  border: 0.1rem solid rgb(225, 225, 225);
}
@media screen and (max-width: 1200px) {
  .order__page .swiper-thumb .swiper-slide {
    width: 12rem !important;
    height: 12rem !important;
  }
}
@media screen and (max-width: 767px) {
  .order__page .swiper-thumb .swiper-slide {
    width: 6rem !important;
    height: 6rem !important;
  }
}
.order__page .swiper-thumb .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.order__page .swiper-thumb .swiper-slide-thumb-active {
  border: 0.1rem solid #000000;
}
.order__page .swiper-thumb .swiper-slide-count {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__page .swiper-thumb .swiper-count {
  color: var(--accent-text-color);
  font-size: 1.6rem;
}
.order__page .swiper-button-next:after,
.order__page .swiper-button-prev:after {
  color: rgb(172, 172, 172);
  font-size: 3rem;
}
.order__page .product__content {
  width: 100%;
}
.order__page .product__yes {
  display: block;
  color: #61A854;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.order__page .product__title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
.order__page .product__prices {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.order__page .product__price_old {
  font-size: 2rem;
  color: #C5CBD6;
  text-decoration: line-through;
}
.order__page .product__price_new {
  font-size: 2rem;
  font-weight: 700;
}
.order__page .product__choose {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.order__page .product__choose_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc((100% - 2rem) / 2);
}
@media screen and (max-width: 767px) {
  .order__page .product__choose_item {
    width: 100%;
  }
}
.order__page .product__choose_item span {
  font-size: 1.6rem;
}
.order__page .product__select {
  font-size: 1.6rem;
  padding: 1rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}
.order__page .product__select option {
  padding: 1rem;
  height: 3rem !important;
}
.order__page .product__order {
  margin-top: 3rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
  border-top: 0.1rem solid #c9c9c9;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.order__page .product__order_count {
  width: 10rem;
  height: 5.5rem;
  border: 0.1rem solid #c9c9c9;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
}
.order__page .product__order_button {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--red-back-color);
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 1.6rem;
  border: 0.3rem solid var(--red-back-color);
  transition-duration: 300ms;
}
.order__page .product__order_button:hover {
  background-color: transparent;
  color: var(--gray-text-color);
}
.order__page .order__description_title {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #c9c9c9;
}
.order__page .order__description_title::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 9.1rem;
  background-color: var(--red-back-color);
  bottom: -0.1rem;
  left: 0;
}
.order__page .order__description_text {
  font-size: 1.6rem;
  line-height: 1.8;
}

.product__gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition-duration: 500ms;
}
.product__gallery.is-gallery-open {
  opacity: 1;
  visibility: visible;
}
.product__gallery .product__close {
  position: absolute;
  right: 5rem;
  top: 5rem;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .product__gallery .product__close {
    right: 4rem;
    top: 4rem;
  }
}
.product__gallery .swiper.mySwiper3 {
  width: 70rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1680px) {
  .product__gallery .swiper.mySwiper3 {
    width: 65rem;
  }
}
@media screen and (max-width: 767px) {
  .product__gallery .swiper.mySwiper3 {
    width: 32rem;
  }
}
.product__gallery .swiper.mySwiper3 .swiper-slide {
  height: 70rem;
}
@media screen and (max-width: 1680px) {
  .product__gallery .swiper.mySwiper3 .swiper-slide {
    height: 65rem;
  }
}
.product__gallery .swiper.mySwiper3 .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__gallery .swiper.mySwiper4 {
  overflow: scroll;
}
@media screen and (max-width: 1200px) {
  .product__gallery .swiper.mySwiper4 {
    display: none;
  }
}
.product__gallery .swiper-thumb {
  position: absolute;
  height: 100%;
  top: 2rem;
  left: 2rem;
  padding-bottom: 7rem;
}
.product__gallery .swiper-thumb .swiper-wrapper {
  flex-direction: column;
  gap: 1.5rem;
}
.product__gallery .swiper-thumb .swiper-wrapper .swiper-slide {
  width: 6rem !important;
  height: 6rem !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2705882353);
  z-index: 10;
  overflow: scroll;
  transition-duration: 500ms;
  opacity: 0;
  visibility: hidden;
}
.overlay.is-form-open {
  opacity: 1;
  visibility: visible;
}
.overlay .form__close {
  position: absolute;
  right: 2.4rem;
}
.overlay .form {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #FFFFFF;
  width: 77rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (max-width: 1200px) {
  .overlay .form {
    width: 69rem;
  }
}
@media screen and (max-width: 767px) {
  .overlay .form {
    width: 37rem;
  }
}
@media screen and (max-width: 390px) {
  .overlay .form {
    width: 32rem;
  }
}
.overlay .form__title {
  font-size: 2rem;
  color: var(--black-text-color);
}
.overlay .form__input {
  height: 5rem;
  padding: 0 2.4rem;
  background-color: rgba(33, 36, 61, 0.1215686275);
  border-bottom: 0.2rem solid var(--red-back-color);
  font-size: 1.5rem;
}
.overlay .form__input::-moz-placeholder {
  color: var(--light-text-color);
}
.overlay .form__input::placeholder {
  color: var(--light-text-color);
}
.overlay .form__textarea {
  height: 11.4rem;
  padding: 1.6rem 2.4rem;
  background-color: rgba(33, 36, 61, 0.1215686275);
  border-bottom: 0.2rem solid var(--red-back-color);
  font-size: 1.5rem;
  outline: none;
  resize: none;
}
.overlay .form__textarea::-moz-placeholder {
  color: var(--light-text-color);
}
.overlay .form__textarea::placeholder {
  color: var(--light-text-color);
}
.overlay .form__button {
  margin: 0 auto;
  width: 25.4rem;
  height: 6.6rem;
  border-radius: 0.5rem;
  border: 0.3rem solid var(--red-back-color);
  background-color: var(--red-back-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-text-color);
  transition-duration: 300ms;
}
.overlay .form__button:hover {
  background-color: transparent;
  color: var(--black-text-color);
}
@media screen and (max-width: 767px) {
  .overlay .form__button {
    width: 100%;
  }
}
.overlay .form__link {
  width: 28.6rem;
  height: 6.6rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: rgb(35, 216, 35);
  border: 0.3rem solid rgb(35, 216, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-duration: 300ms;
}
.overlay .form__link:hover {
  background-color: transparent;
  color: var(--black-text-color);
}
@media screen and (max-width: 767px) {
  .overlay .form__link {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */