:root {
    // font
    --primary-font: 'Montserrat';

    // colors
    --primary-text-color: #FFFFFF;
    --black-text-color: #000000;
    --gray-text-color: #21243D;
    --light-text-color: #C5CBD6;
    --accent-text-color: #bd0000;

    // back-colors
    --red-back-color: #bd0000;
}