.faq {
    padding-bottom: 7rem;
}

.faq__title {
    font-size: 5.6rem;
    text-align: center;
    margin-bottom: 5rem;
    line-height: 1.3;

    @media screen and (max-width:1200px) {
        font-size: 4.7rem;
    }

    @media screen and (max-width:767px) {
        font-size: 3.8rem;
    }

    @media screen and (max-width:390px) {
        font-size: 3.5rem;
    }
}

.faq__content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;

    @media screen and (max-width:1200px) {
        gap: 0;
    }
}

.faq__list {
    width: calc((100% - 3rem) / 2);
    display: flex;
    flex-direction: column;

    @media screen and (max-width:1200px) {
        width: 100%;
    }
}

.faq__item {
    position: relative;
    padding: 2rem 0;
    border-bottom: .1rem solid #5d5d5d;
    cursor: pointer;

    &.active {
        .faq__subtitle {
            padding-bottom: 2rem;
        }

        .faq__desc {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .faq__icon {
            transform: rotate(-180deg);
        }
    }
}

.faq__subtitle {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.3;
    transition-duration: 300ms;

    @media screen and (max-width:1200px) {
        max-width: 50rem;
    }

    @media screen and (max-width:767px) {
        max-width: 33rem;
    }

    @media screen and (max-width:390px) {
        max-width: 29rem;
    }
}

.faq__desc {
    font-size: 1.5rem;
    line-height: 1.6;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
    position: absolute;
    transition-duration: 300ms;
}

.faq__icon {
    position: absolute;
    right: 0;
    top: 2.5rem;
    transition-duration: 300ms;
}